/* Example for primary text color */
/* Example for secondary text color */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: "General Sans", sans-serif;
}

html,
body {
  background-color: #141332;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #1D1D41;
  color: #ecf0f1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
  overflow-y: auto;
}
.sidebar .brand-logo {
  gap: 15px;
  display: flex;
  align-items: center;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}
.sidebar .navbar-item {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .navbar-item .nav-item .nav-link {
  display: flex;
  align-items: center;
  color: inherit;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
.sidebar .navbar-item .nav-item .nav-link:hover {
  background-color: #6359E9;
  border-radius: 10px;
}
.sidebar .navbar-item .nav-item .nav-link .arrow-icon {
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}
.sidebar .navbar-item .nav-item .nav-link.active {
  background-color: #6359E9;
  border-radius: 10px;
  font-weight: 600;
}
.sidebar .navbar-item .nav-item .submenu {
  display: none;
  padding-left: 2rem;
  list-style: none;
}
.sidebar .navbar-item .nav-item .submenu .nav-link {
  padding: 14px 14px;
  font-size: 16px;
}
.sidebar .navbar-item .nav-item .submenu .nav-link:hover {
  background-color: #6359E9;
}
.sidebar .navbar-item .nav-item.open > .submenu {
  display: block;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
}
.sidebar .navbar-item .nav-item.open .arrow-icon {
  transform: rotate(90deg);
}

.strip-line {
  margin: 13px;
  border: 1px solid #4B4B99;
}

.account,
.logout {
  position: relative;
  left: 0;
}

.account {
  margin-top: 7.7rem;
  display: flex;
  align-items: center;
  padding: 10px;
}
.account .user-account {
  cursor: pointer;
  display: flex;
  gap: 10px;
}
.account .user-account .img-avatar.close {
  display: block;
  justify-content: center;
  align-items: center;
}
.account .user-account .name-account h1 {
  font-size: 16px;
}
.account .user-account .name-account p {
  font-size: 12px;
}
.account .user-account .name-account.close {
  display: none;
}

.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #6359E9;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}
.logout:active {
  transform: translateY(1px);
}

.main-content {
  overflow: hidden;
  margin-left: 300px;
  padding: 20px;
  width: 100%;
}
.main-content .create-sales-order {
  background-color: #1D1D41;
  padding: 20px;
  border-radius: 10px;
  color: #FFFFFF;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.main-content .create-sales-order h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}
.main-content .create-sales-order .form-group {
  margin-bottom: 15px;
}
.main-content .create-sales-order .form-group label {
  display: block;
  font-size: 14px;
  color: white;
  margin-bottom: 5px;
}
.main-content .create-sales-order .form-group input,
.main-content .create-sales-order .form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #4B4B99;
  background-color: #141332;
  color: #FFFFFF;
  font-size: 14px;
}
.main-content .create-sales-order .form-group input:focus,
.main-content .create-sales-order .form-group select:focus {
  outline: none;
  border-color: #6359E9;
  background-color: rgb(12.6086956522, 11.9782608696, 31.5217391304);
}
.main-content .create-sales-order .form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.main-content .create-sales-order .form-actions .btn {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}
.main-content .create-sales-order .form-actions .btn.btn-primary {
  background-color: #6359E9;
  color: #FFFFFF;
  border: none;
}
.main-content .create-sales-order .form-actions .btn.btn-primary:hover {
  background-color: rgb(56.6808510638, 43.9680851064, 227.0319148936);
}
.main-content .create-sales-order .form-actions .btn.btn-secondary {
  background-color: #4B4B99;
  color: #FFFFFF;
  border: none;
}
.main-content .create-sales-order .form-actions .btn.btn-secondary:hover {
  background-color: rgb(99.9868421053, 99.9868421053, 179.0131578947);
}

/*# sourceMappingURL=staff.css.map */
