$bg-color: #141332;
$bg-color-secondary: #1D1D41;
$primary-color: #6359E9;
$secondary-color: #1e2a38;
$white-color: #FFFFFF;
$strip-color: #4B4B99;
$highlight-color: #ff5c5c;
$fonts: 'General Sans', sans-serif;
$transition: 0.3s ease-in-out;
$sidebar-width: 300px;
$transition-duration: 0.3s;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $white-color;
    font-family: $fonts;
}

html, body{
    background-color: $bg-color;
}

.wrapper{
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: $sidebar-width;
    height: 100vh;
    background-color: $bg-color-secondary;
    color: $white-color;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 25px;
    flex-direction: column;
    padding: 1rem;

    .brand-logo{
        gap: 15px;
        display: flex;
        align-items: center;
        padding: 1rem;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .navbar-item{
        list-style: none;
        padding: 0;
        margin: 0;

        .nav-item{
            .nav-link{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: inherit;
                padding: 1rem 1.5rem;
                transition: $transition;

                &:hover{
                    background-color: $primary-color;
                    border-radius: 10px;
                }
                .arrow-icon{
                    margin-left: auto;
                    transition: transform $transition;
                }
                &.active{
                    background-color: $primary-color;
                    border-radius: 10px;
                    font-weight: 600;
                }
            }

            .submenu{
                display: none;
                padding-left: 2rem;
                list-style: none;

                .nav-link{
                    padding: 14px 14px;
                    font-size: 16px;

                    &:hover{
                        background-color: $primary-color;
                    }
                }
            }
            &.open > .submenu{
                display: block;
                font-size: 14px;
                font-weight: 400;
                list-style: none;
            }
            &.open .arrow-icon{
                transform: rotate(90deg);
            }
            }
    }
}

.strip-line{
    margin: 13px;
    border: 1px solid $strip-color;
}

.account,
.logout{
    position: relative;
    left: 0;
}

.account {
    margin-top: 7.7rem;
}